.container2 {
    display: flex;
    height: 100vh;

    .sidebar {
        width: 200px;
        background-color: #4682B4;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
      
        .sidebar-btn {
            background-color: #4682B4;
            color: #fff;
            padding: 15px;
            text-align: left;
            text-decoration: none;
            transition: background-color 0.3s;
            cursor: pointer;
            
            &:hover, &.active {
                background-color: #1E90FF;
            }
        }
    }
      
    .content {
        flex: 1;
        padding: 20px;
        background-color: #f4f4f9;
      
        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin: auto;
            margin-top: 20px;
      
            h2 {
                margin-bottom: 20px;
                color: #333;
                text-align: center;
            }
      
            .form {
                display: flex;
                flex-direction: column;
      
                .form-group {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
      
                    label {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
      
                    input[type="text"],
                    input[type="date"],
                    input[type="number"] {
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        background-color: #e9ecef;
                    }
                }
      
                .submit-btn {
                    padding: 10px;
                    background-color: #4682B4;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    margin-top: 20px;
      
                    &:hover {
                        background-color: #1E90FF;
                    }
                }
            }
        }
    }
}
